body {
	background-color: #555555;
}

textarea {
	background-color: #000000;
	color: #00FF00;
}

#Code, #Screen {
	float: left;
	width: 50%;
	height: 90%;
}

#Controls {
	clear: left;
}

#CodeText, #OutputText {
	width: 100%;
	height: 100%;

}

#CodeRun {

}

.error {
	color: red;
}
